{{#isQueryParam}}
    {{#required}}
        val {{paramName}} = params.getAs[{{dataType}}]("{{baseName}}")
        .getOrElse(halt(400, "Query parameter {{baseName}} not specified."))
    {{/required}}
    {{^required}}
        val {{paramName}} = params.getAs[{{dataType}}]("{{baseName}}")
    {{/required}}
{{/isQueryParam}}