{{#isFormParam}}
        val {{paramName}} = Try(fileMultiParams("{{paramName}}").head).toOption
            .map(a => new String(a.get()))
            .orElse(multiParams("{{paramName}}").headOption)
        {{#required}}
            .getOrElse(halt(400, "Form parameter {{paramName}} not specified."))
        {{/required}}
{{/isFormParam}}