{{#isQueryParam}}
    {{#required}}
        val {{paramName}} = params.getAs[{{dataType}}]("{{paramName}}")
        .getOrElse(halt(400, "Query parameter {{paramName}} not specified."))
    {{/required}}
    {{^required}}
        val {{paramName}} = params.getAs[{{dataType}}]("{{paramName}}")
    {{/required}}
{{/isQueryParam}}