{{#isFormParam}}
    {{#required}}
        val {{paramName}} = fileMultiParams("{{paramName}}").headOption
            .map(a => new String(a.get()))
            .getOrElse(halt(400, "Form parameter {{paramName}} not specified."))
    {{/required}}
    {{^required}}
        val {{paramName}} = fileMultiParams("{{paramName}}").headOption.map(_.get()).map(a => new String(a))
    {{/required}}
{{/isFormParam}}