{{#isFormParam}}
    {{#isByteArray}}
            val {{paramName}} = Try(fileMultiParams("{{baseName}}").head).toOption
                .map(a => a.get())
                .orElse(multiParams("{{baseName}}").headOption.map(_.getBytes))
            {{#required}}
                .getOrElse(halt(400, "Form parameter {{baseName}} not specified."))
            {{/required}}
    {{/isByteArray}}
    {{^isByteArray}}
        val {{paramName}} = Try(fileMultiParams("{{baseName}}").head).toOption
            .map(a => new String(a.get()))
            .orElse(multiParams("{{baseName}}").headOption)
        {{#required}}
            .getOrElse(halt(400, "Form parameter {{baseName}} not specified."))
        {{/required}}
    {{/isByteArray}}
{{/isFormParam}}